<div class="eqLogic-widget eqLogic allowResize"
     data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
     style="border:#border#;border-radius:#border-radius#;background-color:#background-color#;color:#color#;width:#width#;height:#height#;#style#">
    <div style="text-align:center;">
        <a href="#eqLink#" style="font-size:1.2em;">#name#</a>
        <span class="statusCmd" style="z-index:1030;"></span>
        <span class='cmd fa fa-refresh pull-right cursor' title="Rafraîchir" data-cmd_id="#refresh_id#" style="margin-top:5px;margin-right:5px;"></span>
    </div>
    <div class="row" style="margin : 4px">
        <center>
            <img src="plugins/NBLabox/doc/images/small.png" height="50" width="50">
            <i id="boxok" title="La Box est accessible" class="fa fa-check tooltips" style="font-size:3em;color:#00FF00;vertical-align:middle;display:none;"></i>
            <i id="boxnok" title="Erreur de connexion" class="fa fa-times tooltips" style="font-size:3em;color:#FF0000;vertical-align:middle;display:none;"></i>
            <br/>
            #laboxip#&nbsp;<span class='cmd fa fa-power-off cursor' title="Redémarrer" data-cmd_id="#reboot_id#" style="margin:0px 5px;"></span>
        </center>
        <div id="displayDetails" style="margin:5px">
            <table style="font-size:0.8em;width:100%">
                <tr>
                    <td style='text-align: left;'>Débit upload<BR/>Débit download</td>
                    <td style='text-align: right;'>#laboxupload#Mb/s<br/>#laboxdownload#Mb/s</td>
                </tr>
                <tr>
                    <td style='text-align: left;'>Version matériel</td>
                    <td style='text-align: right;'>#laboxhwver#</td>
                </tr>
                <tr>
                    <td style='text-align: left;'>Version logiciel</td>
                    <td style='text-align: right;'>#laboxswver#</td>
                </tr>
                <tr>
                    <td style='text-align: left;'>Masque</td>
                    <td style='text-align: right;'>#laboxmask#</td>
                </tr>
                <tr>
                    <td style='text-align: left;'>Passerelle</td>
                    <td style='text-align: right;'>#laboxgw#</td>
                </tr>
                <tr>
                    <td style='text-align: left;'>DNS 1<BR/>DNS 2</td>
                    <td style='text-align: right;'>#laboxdns1#<br/>#laboxdns2#</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        if ("#isDisplay#" === "1") {
            document.getElementById('displayDetails').style.display = 'block';
        } else {
            document.getElementById('displayDetails').style.display = 'none';
        }
        if ("#laboxetat#" === "normal") {
            document.getElementById('boxok').style.display = '';
            document.getElementById('boxnok').style.display = 'none';
        } else {
            document.getElementById('boxnok').style.display = '';
            document.getElementById('boxok').style.display = 'none';
        }
        $('.eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#refresh_id#]').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
        $('.eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#reboot_id#]').on('click', function () {
            bootbox.confirm('Etes-vous sûr de vouloir redémarrer la box ?', function (result) {
                if (result) {
                    jeedom.cmd.execute({id: '#reboot_id#'});
                }
            });
        });
    </script>
</div>
