<div class="eqLogic-widget eqLogic"
     data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
     style="border:#border#;border-radius:#border-radius#;background-color:#background-color#;color:#color#;width:#width#;#style#">
    <div style="text-align:center;">
        #name#
        <span class="statusCmd" style="z-index:1030;"></span>
        <span class='cmd fa fa-refresh pull-right cursor' data-cmd_id="#refresh_id#" title="Rafraîchir" style="margin-top:5px;margin-right:5px;"></span>
    </div>
    <div class="row" style="margin : 4px; text-align: center">
        <table style="font-size : 0.8em;width:100%">
            <tr>
                <td>
                    <i id="boxok" title="La Box est accessible" class="fa fa-check tooltips" style="font-size:3em;color:#00FF00;display:none;"></i>
                    <i id="boxnok" title="Erreur de connexion" class="fa fa-times tooltips" style="font-size:3em;color:#FF0000;display:none;"></i>
                </td>
            </tr>
            <tr>
                <td>#laboxip#</td>
            </tr>
        </table>
    </div>
    <script>
        if ("#laboxetat#" == "normal") {
            document.getElementById('boxok').style.display = '';
            document.getElementById('boxnok').style.display = 'none';
        } else {
            document.getElementById('boxnok').style.display = '';
            document.getElementById('boxok').style.display = 'none';
        }
        $('.eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#refresh_id#]').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
    </script>
</div>
